<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/resources/css/chat-style.css">
</head>
<body>

  <h2>Chat Messages</h2>
  <div class="container">
    <img alt="Avatar" style="width:100%;">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="container darker right">
    <img alt="Avatar" class="right" style="width:100%;">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>

  <div class="container">
    <img alt="Avatar" style="width:100%;">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>

  <div class="container darker right">
    <img alt="Avatar" class="right" style="width:100%;">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
  </div>


  <ol class="messages">
    <li class="mine"><span>Hi, babe!</span></li>
    <li class="mine"><span>I have something for you.</span></li>
    <li><span>What is it?</span></li>
    <li class="mine"><span>Just a little something.</span></li>
    <li><span>Johnny, it’s beautiful. Thank you. Can I try it on now?</span></li>
    <li class="mine"><span>Sure, it’s yours.</span></li>
    <li><span>Wait right here.</span></li>
    <li><span>I’ll try it on right now.</span></li>
  </ol>
</body>
</html>
